.conteudo{
    padding: 8px;
    margin: 8px;
}

h1{
    text-align: center;
    font-family: Roboto;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; 
    letter-spacing: 0.25px;
}

/* CARD */

.cardList{
    display: flex;
    flex-wrap: wrap;
}

.card{
    display: inline-flex;
    padding: var(--none, 0px);
    margin: 10px 10px 10px 0;

    flex-direction: column;
    align-items: flex-start;
    gap: var(--1, 4px);
    border-radius: var(--none, 0px);
}

.card span {
    display: flex;
    padding: 5px;
    gap: var(--1, 8px);
}

.card p{
    display: flex;
    margin: auto;
}

.card img {
    width: 389px;
    height: 258px;
    border-radius: v(ar--borderRadius, 4px);
    cursor: pointer;
}

.card .user{
    height: 38px;
    width: 38px;
    border-radius: 50px;
}

.input{
    width: 50%;
}


.tagsMobile{
    display: none;
}

@media(max-width: 500px){
    .input,
    .card,
    .cardList {
        width: 100%;
    }

    .card img {
        width: 100%;    
    }

    .tagsMobile{
        display: flex;
    }

    .tag{
        margin-right: 8px; 
        padding: 10px;
        background-color: #CCCCCC; 
        border-radius: 8px; 
        height: 20px;
        font-size: 15px;
    }

    .info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

}