.cardPerfil{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 112px;
    margin-bottom: 24px;
    gap: 42px;
    flex-wrap: wrap;
    padding: var(--none) var(--2);
}

.cardPerfil__img{
    clip-path: circle();
    display: flex;
    width: 122px;
    height: 122px;
    justify-content: center;
    align-items: center;
}

.cardPerfil__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--3);
}

.cardPerfil__info button{
    display: flex;
    padding: 8px 22px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadius);
    background: var(--action-disabledBackground);
    text-transform: uppercase;
    border: none;
    color: var(--action-disabled);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: var(--roboto);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.46px;
    cursor: pointer;
    transition: 0.5s all;
}

.cardPerfil__info button:hover{
    background-color: var(--action-disabledBackgroundHover);
}

.cardPerfil__infoUser{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--2);
}

.cardPerfil__infoUser h3, .cardPerfil__infoUser span{
    font-family: var(--roboto);
    margin: var(--none);
    padding: var(--none);
    font-style: normal;
    font-weight: 400;
}

.cardPerfil__infoUser h3{
    color: var(--Neutral-Colors-Neutral-120);
    font-size: var(--3);
    line-height: var(--3);
}

.cardPerfil__infoUser span{
    color: var(--Neutral-Colors-Neutral-130);
    opacity: 0.5;
    font-size: var(--2);
    line-height: var(--2);
    letter-spacing: 0.15px;
}

.principaisTags{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-right: 50px;
}

.meusProjetos{
    margin: 32px;
    margin-bottom: 100px;
}

.meusProjetos h6{
    color: var(--Neutral-Colors-Neutral-120);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
    opacity: 0.6;
    margin: 0;
    margin-bottom: var(--2);
}

.meusProjetos__inputTags{
    width: 513px;
    margin-bottom: 40px;
}

.meusProjetos__addProjetos{
    display: flex;
    width: 389px;
    height: 258px;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-shrink: 0;
    border-radius: var(--borderRadius);
    background-color: var(--Neutral-Colors-Neutral-70);
    margin-top: 40px;
    cursor: pointer;
}

.addProjetos__container p{
    color: var(--Neutral-Colors-Neutral-120);
    font-family:var(--roboto);
    font-style: normal;
    font-weight: 400;
    opacity: 0.6;
    margin: var(--none);
    align-self: flex-start;
}
.addProjetos__container p:first-child{
    line-height: 16px;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.addProjetos__container p:last-child{
    line-height: 14px;
    font-size: 14px;
    letter-spacing: 0.25px;
}

.addProjetos__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--2);
    width: 270px;
    height: 122px;
    flex-shrink: 0;
}

.meusProjetos .cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
    margin: 3px;
}


/** RESPONSIVIDADE **/
@media screen and (max-width: 600px) {
    .meusProjetos{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 24px;
    }

    .meusProjetos h6{
        align-self: flex-start;
    }

    .meusProjetos__inputTags{
        width: 100%;
    }

    .cardPerfil{
        margin-top: 56px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 420px) {
    .cardPerfil__info{
        gap: var(--1);
    }
    
    .cardPerfil__infoUser{
        gap: var(--1);
    }

    .meusProjetos__addProjetos{
        width: 312px;
        height: 258px;
    }

    .meusProjetos .cards{
        justify-content: center;
    }
        
}