#menu{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 16px 30px;
    border-bottom: 1px solid var(--Color-Brand-Primria-Primary-100);
    background: var(--Color-Brand-Primria-Primary-100);
}

.menu__logo-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.menu__button-icon{
    display: none;
}
.menu__icon{
    border-radius: 100px;
    color: var(--white);
    padding: var(--1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#button-icon{
    display: none;
}

.menu__logo{
    width: 111px;
    height: 41px;
    flex-shrink: 0;
}

.menu__links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--3);
    list-style: none;
}

.menu__links .menu__link{
    font-family: var(--roboto);
    color: var(--Neutral-Colors-Neutral-60);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.15px;
}

.menu__profile-notifications{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--2);
    padding: 0;
}

.menu__profile{
    clip-path: circle();
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.menu__notifications{
    color: #FCFDFF;
    padding: var(--1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

.responsive-menu{
    display: none;
    position: absolute;
    top: 75px;
    z-index: 999;
}

.MuiBadge-badge{
    background-color: #FF5522;
    color: var(--white);
}

.menu-notification{
    display: flex;
    position: absolute;
    z-index: 999;
    top: 75px;
    right: 20px;
    animation: openMenu 0.8s cubic-bezier(0.51, -0.28, 0.49, 1.31);
}
.menu-notification .triangulo{
    display: block;
    width: 15px;
    height: 15px;
    transform: rotate(315deg);
    position: absolute;
    right: 14px;
    top: -5px;
    /* top: 0.002px; */
    stroke-width: 3px;
    stroke: #FCFDFF;
    background-color: #FCFDFF;
}
.menu-notification__content{
    width: 100%;
}

.menu-notification__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
    cursor: pointer;
}

.close-notification{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.close-notification svg{
    display: flex;
    color: #A2A2A2;
    cursor: pointer;
}

.menu-notification__content h3{
    font-family: var(--roboto);
    color: var(--Neutral-Colors-Neutral-120);
}

.menu-notification__content ul{
    padding-left: 20px;
}

.menu-notification__content li{
    font-family: var(--roboto);
    color: #A2A2A2;
}

.container-progress{
    width: 95%;
    background-color: #f0f0f0;
    height: 12px;
    display: flex;
    align-items: flex-start;
    border-radius: 20px;
}

.progress{
    height: 12px;
    background-color: #FF5522;
    border-radius: 20px;
}

/** Responsividade **/
@media screen and (max-width: 680px) {
    #menu{
        border-radius: var(--none) var(--none) var(--borderRadius) var(--borderRadius);
        background: var(--Color-Brand-Primria-Primary-100);
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.20), 
        0px 4px 5px 0px rgba(0, 0, 0, 0.14), 
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    }
    .menu__logo-links{
        gap: var(--1);
    }
    .menu__links{
        display: none;
    }
    .menu__button-icon{
        display: flex !important;
    }
    .menu__icon{
        display: flex !important;
    }
    #button-icon:checked ~ .responsive-menu{
        display: flex;
    }
}

@keyframes openMenu{
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}