.card{
    display: inline-flex;
    padding: var(--none);

    flex-direction: column;
    align-items: flex-start;
    gap: var(--1);
    border-radius: var(--none);
    width: 389px;
    height: 298px;
    justify-content: flex-end;
}

.card .card__infoTags{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card .card__infoTags .card__info {
    display: flex;
    padding: var(--none);
    
    align-items: center;
    gap: var(--1);
    font-family: var(--roboto);
}

.card__infoTags .card__info > p{
    margin: 0;
}

.card__infoTags .card__tags{
    display: flex;
    align-items: center;
    gap: var(--1);
    justify-content: flex-end;
}

.card img {
    width: 389px;
    height: 258px;
    border-radius: var(--borderRadius);
    cursor: pointer;
}

.card .user{
    height: var(--3);
    width: var(--3);
    border-radius: var(--none);
    clip-path: circle();
}

.card__edit{
    position: relative;
    top: 44px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.card__editIcon{
    margin-right: var(--3);
    margin-top: var(--2);
    background-color: var(--Color-Brand-Secundria-Secondary-70);
    color: var(--Neutral-Colors-Neutral-120);
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    clip-path: circle();
    cursor: pointer;
}
.card__menu{
    display: flex;
    position: absolute;
    top: 55px;
    right: var(--2);
    width: 208px;
    animation: openMenu 0.8s cubic-bezier(0.51, -0.28, 0.49, 1.31);
}
.card__menu .triangulo{
    display: block;
    width: 15px;
    height: 15px;
    transform: rotate(315deg);
    position: absolute;
    right: 14px;
    top: -5px;
    /* top: 0.002px; */
    stroke-width: 3px;
    stroke: #FCFDFF;
    background-color: #FCFDFF;
}
.card__menuList{
    width: 100%;
}

.card__menuList li{
    color: var(--Neutral-Colors-Neutral-110);
    font-family: var(--roboto);
    font-size: var(--2);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.15px;
    transition: 0.5s all;
}

.card__menuList li:hover{
    background-color: var(--Color-Brand-Secundria-Secondary-60);
}

/** RESPONSIVIDADE **/

@media screen and (max-width: 430px) {
    .card{
        width: 312px;
        height: 312px;
    }

    .card img {
        width: 312px;
        height: 258px;
    }

    .card__infoTags .card__tags{
        width: 50px;
    }
}

@media screen and (max-width: 360px) {
    .card img {
        width: 312px;
        height: 258px;        
    }

    .card .card__infoTags{
        gap: var(--2);
    }

    .card .card__infoTags .card__info {
        width: 60%;
    }
}

@keyframes openMenu{
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
