.modalPreview{
    width: 70%;
    height: 70vh;
    background-color: var(--white);
    overflow-y: auto;
    box-shadow: 24;
    padding: 20px;
    margin: 0;
    animation: openModal 0.8s cubic-bezier(0.51, -0.28, 0.49, 1.31);
}

.modalContent{
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--roboto);
}

.HorizontalContainer{
    display: flex;
    padding: var(--none, 0px);
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.informacoes{
        display: inline-flex;
        gap: 18px;
    }

.informacoes img{
    width: var(--5, 40px);
    height: var(--5, 40px);
    border-radius: 40px;
    margin-top: 11px;
}

.modalContent .tags {
    display:inline-flex;
    gap: 5px;
}

.projeto{
    display: flex;
    flex-direction: column;
    padding: var(--none, 0px);
    justify-content: center;
}

.projeto img {
    height: 300px;
    object-fit: cover;
    justify-content: center;
    align-content: center;
}

.informacoesResponsive{
    display: none;
}

/** RESPONSIVIDADE **/


@media (max-width: 450px) {

    .HorizontalContainer{
        gap: 100px;

    }
    .informacoes, .tags {
        display: none;
    }

    .informacoesResponsive{
        display: flex;
        gap: 8px;
    }

    .informacoesResponsive img{
        width: var(--5, 40px);
        height: var(--5, 40px);
        border-radius: 40px;
        margin-top: 11px;
    }

    .tagsResponsive{
        display: flex;
        padding: 10px;
        border-radius: 8px; 
    }

    .modalPreview{
        height: 100vh;
    }
}

@keyframes openModal{
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}