.modalContent{
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: center;

    font-family: Roboto, Regular;
}

.HorizontalContainer{
    display: flex;
    padding: var(--none, 0px);
    justify-content: space-around;
    align-items: center;
    gap: 180px;
}

.informacoes{
        display: inline-flex;
        gap: 18px;
    }

.informacoes img{
    width: var(--5, 40px);
    height: var(--5, 40px);
    border-radius: 40px;
    margin-top: 11px;
}

.tags {
    display:flex;
    gap: 5px;
}

.projeto{
    display: flex;
    flex-direction: column;
    padding: var(--none, 0px);
    justify-content: center;
}

.projeto > img {
    width: 100%;
    height: 585px;
    object-fit: cover;
    justify-content: center;
    align-content: center;
}

.informacoesResponsive{
    display: none;
}


@media (max-width: 750px) {

    .HorizontalContainer{
        gap: 100px;

    }
    .informacoes, .tags, .tag {
        display: none;
    }

    .informacoesResponsive{
        display: flex;
        gap: 8px;
    }

    .informacoesResponsive img{
        width: var(--5, 40px);
        height: var(--5, 40px);
        border-radius: 40px;
        margin-top: 11px;
    }

    .tagsResponsive{
        display: flex;
        padding: 10px;
        border-radius: 8px; 
    }

    .tagMobile{
        display:flex;
        margin-right: 8px; 
        padding: 5px;
        background-color: #EEEEEE; 
        border-radius: 11px; 
        font-size: 15px;
    }

}

/* @keyframes openModal{
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
} */